.inputQuestionaire {
    border: none ;
    border-bottom: solid 2px gray;
    flex: 1;
    outline: none;
    padding: 10px 15px;
    font-size: 1.5em;
}

.answerQuestionaire {
    border: none ;
    border-bottom: solid 2px gray;
    flex: 1;
    outline: none;
    margin-left: 80px;
    width: 75%;
    margin-top: 50px;
    padding: 10px 15px;
    border-radius: 1px;
    font-size: 1.5em;
}

.selectType {
    /* px-2 py-3 rounded-md */
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    border: #EAEAEA solid 2px;
}

.inputChoices {
    /* w-[80%] ml-[80px]  */
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: solid 2px gray;
    margin-left: 80px;
}