
.form {
    @apply text-white max-h-full  bg-white px-5 py-7 rounded-xl w-[30vw];

    @media (max-width: 1000px) {
        /* @apply w-[40vw] */
        width: 50vw;
    }

    @media (max-width: 800px) {
        /* @apply w-[40vw] */
        width: 60vw;
    }

    @media (max-width: 600px) {
        /* @apply w-[40vw] */
        width: 75vw;
    }

    @media (max-width: 400px) {
        /* @apply w-[40vw] */
        width: 100vw;
    }
}

.navlinks {
    @apply flex h-full flex-1 items-center justify-end gap-3 pr-5
}
.navlinks > a {
    @apply w-[5em]
}

.navlinks > a:hover {
    @apply bg-white text-black;
    transition: all .3s ease-in-out;
}

.addNoteModal {
    @apply w-[100vw] h-[100vh]  fixed top-0 left-0;
    background: rgba(0, 0, 0, 0.74);
}

.textNoteContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
    height: 100%;
    margin-top: -50px;
    /* max-width:30vw ; */
    @media (max-width:900px) {
        width: 100vw;
    }
}

.textNoteContent > .content {
        height:200px;
        overflow: hidden;
}

.styleReview {
    @apply flex w-screen h-screen;
    overflow-y: auto;
    @media (max-width: 900px) {
        flex-direction: column;
        height: auto;
    }
}

.reviewerList {
    
}